<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/main.css">
    <title></title>
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
</head>
<body>
    <div>
        <p class="centered">Your Pantry</p>
        <table class="gridtable centered">
            <tr>
                <th>Item</th>
                <th>Quantity</th>
                <th>Required</th>
                <th>Location</th>
                <th>Add to Shopping List?</th>
            </tr>
            {{#each items}}
            <tr>
                <td class="tooltip">
                    <div class="refImg"><img src="{{refImg}}"></div>{{ name }}
                </td>
                <td>{{ have }}</td>
                <td>{{ need }}</td>
                <td>{{ location }}</td>
                <td><input data-item="{{ name }}" type="checkbox"></td>
                <td><a href="/items/{{ _id }}">Edit/Delete</a></td>
            </tr>
            {{/each}}
        </table>
        <div class="centered">
            <button type="button">Let's go shopping!</button>
        </div>
    <div>
</body>
</html>